@using System.Web.Script.Serialization;
@using Whatt.Web.HtmlHelpers
@model Whatt.Web.Models.DashboardModel

@{
    ViewBag.Title = "Risk Dashboard";
}

<script>
    @Html.KnockoutViewModelFrom(Model)
</script>

<h3>Risk Codes:</h3>
<ol>
    <li>A customer wins on more than 60% of their bets</li>
    <li>Bets where the stake is more than 10 times higher than that customer’s average bet</li>
    <li>Bets where the stake is more than 30 times higher than that customer’s average bet</li>
    <li>Bets where the amount to be won is $1000 or more</li>
</ol>

<h3>Risky Punters</h3>
<small>Customer's with Average Wins over 60%</small>
<table>
    <tr>
        <th>Customer</th>
        <th>Avg Win %</th>
    </tr>
   
    <tbody data-bind="foreach: riskyPunters">
        <tr>
            <td data-bind="text: $data.key "></td>
            <td data-bind="text: $data.value "></td>
        </tr>

    </tbody>
</table>

<table>

    <tr>

        <td style="vertical-align:top">
            <section class="contact">
                <header>
                    <h3>Settled Bets</h3>
                </header>
                <table>
                    <tr>
                        <th>Customer</th>
                        <th>Event</th>
                        <th>Participant</th>
                        <th>Stake</th>
                        <th>Win</th>
                        <th>Risk Codes</th>
                    </tr>

                    <!-- ko foreach: settledBetSlips -->
                    <tr>
                        <td data-bind="text: customer"></td>
                        <td data-bind="text: event"></td>
                        <td data-bind="text: participant"></td>
                        <td data-bind="text: stake"></td>
                        <td data-bind="text: win"></td>
                        <td data-bind="foreach: riskWarningTypes">
                            <span data-bind="text: $data"></span>
                        </td>
                    </tr>
                    <!-- /ko -->

                </table>
            </section>

        </td>
        <td style="vertical-align:top">
            <section class="contact">
                <header>
                    <h3>UnSettled Bets</h3>
                </header>
                <table>
                    <tr>
                        <th>Customer</th>
                        <th>Event</th>
                        <th>Participant</th>
                        <th>Stake</th>
                        <th>To Win</th>
                        <th>Risk Codes</th>
                    </tr>

                    <!-- ko foreach: unSettledBetSlips -->
                    <tr>
                        <td data-bind="text: customer"></td>
                        <td data-bind="text: event"></td>
                        <td data-bind="text: participant"></td>
                        <td data-bind="text: stake"></td>
                        <td data-bind="text: toWin"></td>
                        <td data-bind="foreach: riskWarningTypes">
                            <span data-bind="text: $data"></span>
                        </td>
                    </tr>
                    <!-- /ko -->

                </table>
            </section>

        </td>
    </tr>
</table>





@section scripts
{
    <script language="javascript" type="text/javascript" src='@Url.Content("~/scripts/views/home.index.ko.js")'></script>

}
